{% if include.object.members_content.source %}
    {% assign members = site.data[include.object.members_content.source] %}
{% else %}
    {% assign members = include.object.members_content.items %}
{% endif %}
<div class="col col-12 members_section {% if include.object.style %}{{include.object.style}}{% endif %}">
    <div class="row d-flex justify-content-center align-items-center">
        {% for member in members %}
                {% if member.image.path contains "http" %}
                <div class="col col-6 col-sm-{{include.object.members_content.item_width}}">
                    {% if member.url %}<a href="{{member.url}}">{% endif %}
                    <img class="lazyload img-responsive" alt="{{member.image.alt}}"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="{{member.image.path}}"/>
                    {% if member.url %}</a>{% endif %}
                </div>
                {% else %}
                    <div class="col col-6 col-sm-{{include.object.members_content.item_width}}">
                        {% if member.url %}<a href="{{member.url}}">{% endif %}
                        {% picture members_image {{member.image.path}} --alt {{member.image.alt}} %}
                        {% if member.url %}</a>{% endif %}
                    </div>
                {% endif %}
        {% endfor %}
    </div>
</div>
