<div class="col col-12 cookie_manager">
    <div class="row justify-content-lg-center">
        <div class="col col-12 col-sm-9">
            <h3>{{site.data.translations.necessaryCookies}}</h3>
            <p class="lead">
                {{site.data.translations.necessaryCookiesText}}
            </p>
            <p>
                {{site.data.translations.necessaryCookiesTextList}}
            </p>
            <table class="table">
                <thead>
                    <th>{{site.data.translations.cookieName}}</th>
                    <th>{{site.data.translations.usage}}</th>
                </thead>
                <tbody>
                    {% for cookie in site.google_analytics.cookies.necessary %}
                    <tr>
                        <td>{{cookie.name}}</td>
                        <td>{{cookie.description | markdownify}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col col-12 col-sm-3">
            <div class="df-switch">
                <button type="button" class="btn btn-lg btn-toggle active" disabled data-toggle="button" aria-pressed="false"
                    autocomplete="off" aria-label="Toggle Necessary Cookies">
                    <div class="inner-handle"></div>
                    <div class="handle"></div>
                </button>
            </div>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col col-12 col-sm-9" order-sm-1">
            <h3>{{site.data.translations.analyticsCookies}}</h3>
            <p class="lead" id="analytics_cookies_desc">
                <span class="disabled">{{site.data.translations.cookiesDisabledText}}</span>
                <span class="enabled">{{site.data.translations.cookiesEnabledText}}</span>
            </p>
            <p>
                {{site.data.translations.analyticsCookiesTextList}}
            </p>
            <table class="table">
                <thead>
                    <th>{{site.data.translations.cookieName}}</th>
                    <th>{{site.data.translations.usage}}</th>
                </thead>
                <tbody>
                    {% for cookie in site.google_analytics.cookies.marketing %}
                    <tr>
                        <td>{{cookie.name}}</td>
                        <td>{{cookie.description | markdownify}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col col-12 col-sm-3">
            <div class="df-switch">
                <button id="analytics_toggle" type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false"
                    autocomplete="off" aria-label="Toggle Necessary Cookies">
                    <div class="inner-handle"></div>
                    <div class="handle"></div>
                </button>
            </div>
        </div>
    </div>
</div>
